/**
 * modules/variables
 * ---
 */

/**
 * Colors
 */

$selection-bg: #04A4CC;


/**
 * Grid
 */

$wrapper-width: 1280px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;